# Original Scraping Script (works)

In [ ]:
import pandas as pd
# from scrapy.selector import Selector
# from scrapy.http import HtmlResponse
# from linkedin_scraper import Person, actions
from selenium import webdriver
from parsel import Selector
driver = webdriver.Chrome(r'C:\Users\fires\chromedriver\chromedriver.exe')
# email = 'yo email'
# password = '************'
# actions.login(driver, email, password)

client_urls = ['https://www.linkedin.com/in/nicholas-andersonchi/', 'https://www.linkedin.com/in/benjaminsolomon/']
response = client_urls

df = pd.DataFrame(columns=['Name', 'Work Anniversary'])
for idx, url in enumerate(client_urls):
    driver.get(url)
    for idk, url in enumerate(client_urls):
        experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
        for item in experience:
            for idx2, item in enumerate(experience[0:1]):
                df.loc[idx, 'Work Anniversary'] = item.text
                name = response.css('title::text').get
                for idk, url in enumerate(client_urls):
                    for idx2, item in enumerate(name[0:1]):
                        df.loc[idx, 'Name'] = item.text

# Fuckery Zone 

### Gettin' deez damn names and experrence 

https://docs.scrapy.org/en/latest/topics/selectors.html Selector notes

In [178]:
import pandas as pd
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
from linkedin_scraper import Person, actions
from selenium import webdriver
from parsel import Selector
import jsonpickle

def __init__(self, filename):
            self.WorkAnniv = self

def read_csv(filename):
            with open(filename, newline='') as filename:
                rd = pd.read_csv(filename, sep=',')
            return rd

        
def li_login(filename):
    driver = webdriver.Chrome('/path/to/chromedriver.exe')
    email = 'yo email'
    password = '**********'
    action = actions.login(driver, email, password)
    return action

def client_url(filename):
        client_urls = []
        rd = read_csv(filename)
        url_list = rd
        for line in list(rd):
            client_urls.append(url_list)
            print(client_urls)
        return client_urls

def li_scrape_exp(filename):
    driver = webdriver.Chrome('/Users/Nick/chromedriver.exe')
    client_urls = client_url(filename)
    print(client_urls)
    df = pd.DataFrame(columns=['Name', 'Work Anniversary'])
    for idx, url in enumerate(client_urls):
        experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
        print(experience)
        for item in experience:
            for idx2, item in enumerate(experience[0:1]):
                df.loc[idx, 'Work Anniversary'] = item.text
    return print(df)

In [179]:
li_login('workannivtest.csv')

In [180]:
li_scrape_exp('workannivtest.csv')

[        https://www.linkedin.com/in/benjaminsolomon/
0  https://www.linkedin.com/in/nicholas-andersonchi/
1  https://www.linkedin.com/in/zach-sweeney-a378a...
2  https://www.linkedin.com/in/adrian-jordan-comm...
3       https://www.linkedin.com/in/shannon-n-kelly/]
[        https://www.linkedin.com/in/benjaminsolomon/
0  https://www.linkedin.com/in/nicholas-andersonchi/
1  https://www.linkedin.com/in/zach-sweeney-a378a...
2  https://www.linkedin.com/in/adrian-jordan-comm...
3       https://www.linkedin.com/in/shannon-n-kelly/]
[]
Empty DataFrame
Columns: [Name, Work Anniversary]
Index: []

---
# AB

In [1]:
import pandas as pd
from selenium import webdriver
from linkedin_scraper import actions
from time import sleep

In [2]:
def get_WA(driver):
    experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
    xp = [x.text for x in experience]
    listed_xps = [x.split('\n') for x in xp]
    for i in listed_xps[0]:
        if '–' in i:
            broken_workanniv = i
            workanniv0 = broken_workanniv.split('–')[0]
            workanniv1 = broken_workanniv.split('–')[1]
            workanniv = workanniv0 + 'to' + workanniv1
            break
    return workanniv

In [3]:
def get_name(driver):
    finds = driver.find_elements_by_class_name('break-words')
    names = [x.text for x in finds]
    name = names[0]
    return name

In [4]:
def write_csv_raw(output :str, d: dict):
    with open(output, 'w') as file:
        file.write('NAME, Work_Anniv\n')
        for k, v in d.items():
            file.write(f'{k}, {v}\n')
    return print(f'{output} has been written.')

In [5]:
df = pd.read_csv('workannivtest.csv', names=['URLs'])
urls = df['URLs'].tolist()
urls

['https://www.linkedin.com/in/benjaminsolomon/',
 'https://www.linkedin.com/in/nicholas-andersonchi/',
 'https://www.linkedin.com/in/zach-sweeney-a378a4166/',
 'https://www.linkedin.com/in/adrian-jordan-communicator/',
 'https://www.linkedin.com/in/shannon-n-kelly/']

## raw python

In [6]:
driver = webdriver.Chrome(r'C:\Users\fires\chromedriver\chromedriver.exe')
actions.login(driver, 'abrazeau1993@gmail.com', '*')
d = {}
for url in urls:
    driver.get(url)
    d[get_name(driver)] = get_WA(driver)
d

{'Ben Solomon': 'Oct 2012 to Present',
 'Nicholas Anderson': 'Jun 2019 to Present',
 'Zach Sweeney': 'Jun 2019 to Present',
 'Adrian Jordan': 'Aug 2018 to Present',
 'Shannon Kelly': 'Aug 2018 to Present'}

In [7]:
output = 'test_output.csv'
write_csv_raw(output, d)

test_output.csv has been written.

In [8]:
outdf = pd.read_csv(output)
outdf

                NAME            Work_Anniv
0        Ben Solomon   Oct 2012 to Present
1  Nicholas Anderson   Jun 2019 to Present
2       Zach Sweeney   Jun 2019 to Present
3      Adrian Jordan   Aug 2018 to Present
4      Shannon Kelly   Aug 2018 to Present

## Pandas

In [9]:
driver = webdriver.Chrome(r'C:\Users\fires\chromedriver\chromedriver.exe')
actions.login(driver, 'abrazeau1993@gmail.com', '*')
workanni_df = pd.DataFrame(columns=['NAME', 'WORK_ANNIV'])
for i, url in enumerate(urls):
    driver.get(url)
    workanni_df.loc[i, 'NAME'] = get_name(driver)
    workanni_df.loc[i, 'WORK_ANNIV'] = get_WA(driver)
workanni_df

                NAME           WORK_ANNIV
0        Ben Solomon  Oct 2012 to Present
1  Nicholas Anderson  Jun 2019 to Present
2       Zach Sweeney  Jun 2019 to Present
3      Adrian Jordan  Aug 2018 to Present
4      Shannon Kelly  Aug 2018 to Present

In [10]:
pd_output = 'test_output_pd.csv'
workanni_df.to_csv(pd_output, index=False)

In [11]:
check = pd.read_csv(pd_output)
check

                NAME           WORK_ANNIV
0        Ben Solomon  Oct 2012 to Present
1  Nicholas Anderson  Jun 2019 to Present
2       Zach Sweeney  Jun 2019 to Present
3      Adrian Jordan  Aug 2018 to Present
4      Shannon Kelly  Aug 2018 to Present